// change bootstrap colors
$theme-colors: (
  "secondary": #000,
  "primary": #fff,
  "info": #444,
);

// change navbar links color
$navbar-dark-color: #fff;
//change padding nav-link for footer
$nav-link-padding-y: 0.2rem;

@import "~bootstrap/scss/bootstrap";
